@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
/* Root */
:root {
  --primary-color: #4c71d4;
  --dark-color: #0d1024;
  --light-color: #dbc4c4;
  --danger-color: #990e0e;
  --success-color: #7a51ec;
  --disabled-color: #515574;
  --shadow: 0 5px 14px rgba(0, 0, 0, 0.9);
  background-color: rgba(37, 85, 231, 0.5);
}

#login {
  padding: 5px;
  width: 250px;
  margin: 1em auto;
  position: relative;
  border: solid 2px var(--light-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  background: var(--primary-color);
  width: 20em;
}
h1 {
  text-align: center;
  box-shadow: var(--shadow);
  font-size: 4em;
  padding: 0.5em;
  z-index: 3;
  background: var(--primary-color);
  color: car(--dark-color);
}
h2 {
  text-align: center;
  padding: 1em;
  font-size: 2em;
  font-family: "Arial", Helvetica, sans-serif;
  color: var(--dark-color);
}

[value="Log in"] {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark-color);
}

input[type="submit"] {
  padding: 10px;
  background-color: var(--light-color);
  border-radius: 5px;
  margin: 10px auto;
}

.btn-login {
  display: flex;
}

.btn:hover {
  box-shadow: var(--shadow);
  background-color: var(--success-color);
}

h1:hover {
  box-shadow: var(--shadow);
}

#Password:hover,
#Username:hover {
  box-shadow: var(--shadow);
}

/* Focus */
input:focus {
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* Hover */
input:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}
.regRef:hover {
  background-color: var(--success-color);
  color: var(--light-color);
}
div {
  padding: 0.6em;
  font-weight: 800;
}

#regPar {
  margin-bottom: 5px;
}
/* input:enabled {
  border: solid 1px var(--success-color); */
}
input:disabled {
  color: var(--disabled-color) !important;
}
