.container-login {
    border: 1px solid blue;
    padding: 10px;
    width: 400px;
    background-color: #912a54;
    color: white;
    margin: 0 auto; /*this makes it go to the center, for more info go to Notes.md */
    /* border-radius: 15px;
    border-radius: 10px 20px 30px 40px;
    border-radius: 10% 20% */
    border-radius: 10px 40px;
    box-shadow: 20px 20px 5px 10px black, -20px -20px 5px 10px red;
    /* box-shadow: -20px -20px black; 
    box-shadow: inset 20px 20px 5px 10px black; */
} 